#encabezado1{
    background-color: rgba(68,155,55,0.79);
    text-align: left;
    border: 3px solid #C6AC00;

}

#primerelementoencab{
    font-family: 'Raleway', sans-serif;
    color: mintcream;
    border: 3px solid #E0E0E0;
}

#fotodepf{
    vertical-align: super;
    float: right;
    height: auto;
    width: auto;
}

#mifooter{
    background-color: darkslategray;
}


#infofinal{
    color: #E0E0E0;
    font-weight: bold;
    padding: 30px;
}

#mail{
    color: #E0E0E0;
    font-size: medium;
    font-weight: bold;
}

#citafl{
    font-weight: bold;
    border: 9px solid #FFFFFF;
    font-style: italic;
}

